snippet mock "m::mock()"
m::mock(${1})${0}
endsnippet

snippet ..sr "->shouldReceive()" i
->shouldReceive('${1}')${0}
endsnippet

snippet ..n "->times()" i
->times(${1})${0}
endsnippet

snippet ..1 "->once()" i
->once()${0}
endsnippet

snippet ..2 "->twice()" i
->twice()${0}
endsnippet

snippet ..with "->with()" i
->with(${1})${0}
endsnippet

snippet ..rt "->andReturn()" i
->andReturn(${1})${0}
endsnippet
