snippet fpc "call writefile()" b
call writefile([${1}], "/tmp/vimdbg.txt", "a")
endsnippet

snippet ldr "<leader>" i
<leader>$0
endsnippet

snippet si "<silent>" i
<silent>
endsnippet

snippet cr "<CR>" i
<CR>$0
endsnippet

snippet cmd "<Cmd>" i
<Cmd>$0
endsnippet

snippet ifplg "if s:plugged()" b
if s:plugged('${1:plugin}')
    ${2}
endif$0
endsnippet
