.VimballRecord
.netrwhist
0/
GetLatest/
addons/
plugged/
after/
api/
autoload/
bitmaps/
colors/
doc/
filetype.vim
ftdetect/
ftplugin/
plugin/
private.vim
sessions/
syntax/
test/
*.swp
*.swo
UltiSnips/php/company_*.snippets
