*.swo
*.swp
.VimballRecord
.netrwhist
0/
GetLatest/
UltiSnips/php/company_*.snippets
addons/
after/
api/
autoload/
bitmaps/
colors/
doc/
filetype.vim
ftdetect/
ftplugin/
plugged/
plugin/
private.vim
sessions/
syntax/
test/
undodir/
